env: test
datasets: 
  - name: binance_data
    project:
      name: UnifiedDataOnboarding
      mode: batch

   # Shared Schema Definition
    schema:
     path: /Workspace/Users/divinmr@gmail.com/unified-data-onboarding/schemas/transaction_schema.json

  

   # Bronze Layer Configuration
    bronze_layer:
      pipeline_id: "batch_pipeline_spark"   # Identifies your Bronze script
      spark_app_name: "UnifiedBatchIngestion"
      input:
        format: json
        path: /mnt/raw/binance_events.json
        options:
          header: "true"         # Tells Spark the first row is columns
          delimiter: ","        # Explicitly define separator
          mode: "PERMISSIVE"    # Handles corrupt records gracefully
          columnNameOfCorruptRecord: "_corrupt_record"
      output:
        good: /mnt/bronze/binance/good
        bad: /mnt/bronze/binance/bad
        mode: "append"

   # Silver Layer Configuration
    silver_layer:
      pipeline_id: "silver_pipeline_spark"  # Identifies your Silver script
      spark_app_name: "SilverPipeline"
      input:
        path: /mnt/bronze/binance/good
      output:
        path: /mnt/silver/transactions
        mode: "overwrite"